extends layout

block content
  //.pb-2.mt-2.mb-4
  .row
    .col-md-12.qb
      h3 О проекте
      p.about Реализация мер эффективной кибербезопасности в настоящее время является достаточно сложной задачей, так как сегодня существует гораздо больше устройств, чем людей, а злоумышленники становятся все более изобретательными. Наш проект обучает и помогает пользователям не попадать в ловушки мошенников. К тому же за каждое правильно выполненное задание Вы получите бонусные очки, которые можно обменять на скидки и товары от наших партнеров. Учеба не только полезна, но и приятна!
      img.header(src='/images/glavnaya illustration.svg')
      //img.header(src='/images/padlock.jpg')
