extends layout

block content

  .row
    .col-lg-4.col-md-6.mb-4
      .card.h-100
        a(href='#')
          img.card-img-top(src='http://placehold.it/700x400', alt='')
        .card-body
          h4.card-title
            a(href='#') Скидка MS Office
          h5   2024 балла
          p.card-text
          | Разнообразный и богатый опыт реализация намеченных плановых заданий требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации.
        .card-footer
          small.text-muted ★ ★ ★ ★ ☆
    .col-lg-4.col-md-6.mb-4
      .card.h-100
        a(href='#')
          img.card-img-top(src='http://placehold.it/700x400', alt='')
        .card-body
          h4.card-title
            a(href='#') Скидка Avast
          h5   1024 балла
          p.card-text
          | Разнообразный и богатый опыт реализация намеченных плановых заданий требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации. Lorem ipsum dolor sit amet.
        .card-footer
          small.text-muted ★ ★ ★ ★ ☆
    .col-lg-4.col-md-6.mb-4
      .card.h-100
        a(href='#')
          img.card-img-top(src='http://placehold.it/700x400', alt='')
        .card-body
          h4.card-title
            a(href='#') Скидка Kaspersky
          h5   5024 балла
          p.card-text
          | Разнообразный и богатый опыт реализация намеченных плановых заданий требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации.
        .card-footer
          small.text-muted ★ ★ ★ ★ ☆
    .col-lg-4.col-md-6.mb-4
      .card.h-100
        a(href='#')
          img.card-img-top(src='http://placehold.it/700x400', alt='')
        .card-body
          h4.card-title
            a(href='#') Скидка Norton
          h5   524 балла
          p.card-text
          | Разнообразный и богатый опыт реализация намеченных плановых заданий требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации.
        .card-footer
          small.text-muted ★ ★ ★ ★ ☆
    .col-lg-4.col-md-6.mb-4
      .card.h-100
        a(href='#')
          img.card-img-top(src='http://placehold.it/700x400', alt='')
        .card-body
          h4.card-title
            a(href='#') Скидка Malwarebytes
          h5   124 балла
          p.card-text
            | Разнообразный и богатый опыт реализация намеченных плановых заданий требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации.
        .card-footer
          small.text-muted ★ ★ ★ ★ ☆
    .col-lg-4.col-md-6.mb-4
      .card.h-100
        a(href='#')
          img.card-img-top(src='http://placehold.it/700x400', alt='')
        .card-body
          h4.card-title
            a(href='#') Скидка Shield
          h5   824 балла
          p.card-text
            | Разнообразный и богатый опыт реализация намеченных плановых заданий требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации.
        .card-footer
          small.text-muted ★ ★ ★ ★ ☆
